images/logo_reversed.png filter=lfs diff=lfs merge=lfs -text
images/logo.png filter=lfs diff=lfs merge=lfs -text
images/abstract.jpg filter=lfs diff=lfs merge=lfs -text
images/old-books.jpg filter=lfs diff=lfs merge=lfs -text
